@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

pre {
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-x: auto;
}

#markdown-dark h2 {
  color: aliceblue;
  font-weight: bold;
  font-size: x-large;
}

#markdown-dark details {
  color: aliceblue;
}

#markdown-dark ol {
  color: aliceblue;
  list-style: inside;
  list-style-type: decimal;
  margin-top: 10px;
  margin-bottom: 10px;
}

#markdown-dark li {
  color: aliceblue;
  font-weight: 500;
  font-size: large;
}

#markdown-dark a {
  color: rgb(198, 101, 255);
  text-decoration: underline;
}

#markdown-dark p {
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: large;
}

#markdown-dark {
  margin-top: 20px;
}

/* -------------------------------------------------------- */

#markdown-dark pre {
  color: #ffffff;
  background: #1c1b1b;
}

#markdown-dark .hljs-subst {
  color: #ffffff;
}

#markdown-dark .hljs-comment {
  color: #999999;
}

#markdown-dark .hljs-keyword,
#markdown-dark .hljs-selector-tag,
#markdown-dark .hljs-meta .hljs-keyword,
#markdown-dark .hljs-doctag,
#markdown-dark .hljs-section {
  color: #88aece;
}

#markdown-dark .hljs-attr {
  color: #88aece;
}

#markdown-dark .hljs-attribute {
  color: #c59bc1;
}

#markdown-dark .hljs-name,
#markdown-dark .hljs-type,
#markdown-dark .hljs-number,
#markdown-dark .hljs-selector-id,
#markdown-dark .hljs-quote,
#markdown-dark .hljs-template-tag {
  color: #f08d49;
}

#markdown-dark .hljs-selector-class {
  color: #88aece;
}

#markdown-dark .hljs-string,
#markdown-dark .hljs-regexp,
#markdown-dark .hljs-symbol,
#markdown-dark .hljs-variable,
#markdown-dark .hljs-template-variable,
#markdown-dark .hljs-link,
#markdown-dark .hljs-selector-attr {
  color: #b5bd68;
}

#markdown-dark .hljs-meta,
#markdown-dark .hljs-selector-pseudo {
  color: #88aece;
}

#markdown-dark .hljs-built_in,
#markdown-dark .hljs-title,
#markdown-dark .hljs-literal {
  color: #f08d49;
}

#markdown-dark .hljs-bullet,
#markdown-dark .hljs-code {
  color: #cccccc;
}

#markdown-dark .hljs-meta .hljs-string {
  color: #b5bd68;
}

#markdown-dark .hljs-deletion {
  color: #de7176;
}

#markdown-dark .hljs-addition {
  color: #76c490;
}

#markdown-dark .hljs-emphasis {
  font-style: italic;
}

#markdown-dark .hljs-strong {
  font-weight: bold;
}

/* Markdown LIGHT --------------------------------------------- */

#markdown-light {
  margin-top: 20px;
}

#markdown-light h2 {
  color: black;
  font-weight: bold;
  font-size: x-large;
}

#markdown-light ol {
  color: black;
  list-style: inside;
  list-style-type: decimal;
  margin-top: 10px;
  margin-bottom: 10px;
}

#markdown-light li {
  color: black;
  font-weight: 500;
  font-size: large;
}

#markdown-light a {
  color: rgb(73, 175, 243);
  text-decoration: underline;
}

#markdown-light p {
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: large;
}

#markdown-light pre {
  /* var(--highlight-color) */
  color: #2f3337;
  /* var(--highlight-bg) */
  background: #f6f6f6;
}

#markdown-light .hljs-subst {
  /* var(--highlight-color) */
  color: #2f3337;
}

#markdown-light .hljs-comment {
  /* var(--highlight-comment) */
  color: #656e77;
}

#markdown-light .hljs-keyword,
#markdown-light .hljs-selector-tag,
#markdown-light .hljs-meta .hljs-keyword,
#markdown-light .hljs-doctag,
#markdown-light .hljs-section {
  /* var(--highlight-keyword) */
  color: #015692;
}

#markdown-light .hljs-attr {
  /* var(--highlight-attribute); */
  color: #015692;
}

#markdown-light .hljs-attribute {
  /* var(--highlight-symbol) */
  color: #803378;
}

#markdown-light .hljs-name,
#markdown-light .hljs-type,
#markdown-light .hljs-number,
#markdown-light .hljs-selector-id,
#markdown-light .hljs-quote,
#markdown-light .hljs-template-tag {
  /* var(--highlight-namespace) */
  color: #b75501;
}

#markdown-light .hljs-selector-class {
  /* var(--highlight-keyword) */
  color: #015692;
}

#markdown-light .hljs-string,
#markdown-light .hljs-regexp,
#markdown-light .hljs-symbol,
#markdown-light .hljs-variable,
#markdown-light .hljs-template-variable,
#markdown-light .hljs-link,
#markdown-light .hljs-selector-attr {
  /* var(--highlight-variable) */
  color: #54790d;
}

#markdown-light .hljs-meta,
#markdown-light .hljs-selector-pseudo {
  /* var(--highlight-keyword) */
  color: #015692;
}

#markdown-light .hljs-built_in,
#markdown-light .hljs-title,
#markdown-light .hljs-literal {
  /* var(--highlight-literal) */
  color: #b75501;
}

#markdown-light .hljs-bullet,
#markdown-light .hljs-code {
  /* var(--highlight-punctuation) */
  color: #535a60;
}

#markdown-light .hljs-meta .hljs-string {
  /* var(--highlight-variable) */
  color: #54790d;
}

#markdown-light .hljs-deletion {
  /* var(--highlight-deletion) */
  color: #c02d2e;
}

#markdown-light .hljs-addition {
  /* var(--highlight-addition) */
  color: #2f6f44;
}

#markdown-light .hljs-emphasis {
  font-style: italic;
}

#markdown-light .hljs-strong {
  font-weight: bold;
}
